<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <title>情報シェアリングシステム</title>
    </head>
    <body>
        <form action="/search" name="search" method="get">
            <dl class="search">
                <dt><input type="text" name="search" value="" placeholder="Search" /></dt>
                <dd><button><i class="material-icons">search</i></button></dd>
            </dl>
        </form>

        {{!base}}

    </body>
</html>