% rebase('template/base.html')
<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-default btn-lg btn-block" href="/person">ヒトを探す</a>
    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-default btn-lg btn-block" href="/not_implemented">モノを探す(※未実装)</a>
    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-default btn-lg btn-block" href="/not_implemented">プロジェクトを探す(※未実装)</a>
    </div>
</div>