% rebase('template/base.html')
<div class="buttons-block">
    <button type=button onclick="location.href='person/department.html'">学科から探す</button>
    <button type=button onclick="location.href='person/project.html'">プロジェクトから探す</button>
    <button type=button onclick="location.href='person/club.html'">部活動から探す</button>
    <button type=button onclick="location.href='person/ryugaku.html'">留学関係から探す</button>
    <button type=button onclick="location.href='person/skilltree.html'">スキルツリーから探す</button>
</div>