% rebase('template/base.html')
<div class="row">
    <div class="col col-md-6">
        <a class="btn btn-default btn-lg btn block" href="/person/department/list">1</a>
    </div>
    <div class="col col-md-6">
        <a class="btn btn-default btn-lg btn block" href="/person/department/list">2</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-6">
        <a class="btn btn-default btn-lg btn block" href="/person/department/list">3</a>
    </div>
    <div class="col col-md-6">
        <a class="btn btn-default btn-lg btn block" href="/person/department/list">4</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-6">
        <a class="btn btn-default btn-lg btn block" href="/person/department/list">5</a>
    </div>
    <div class="col col-md-6">
        <a class="btn btn-default btn-lg btn block" href="/person/department/list">専攻科</a>
    </div>
</div>