% rebase('template/base.html')
<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-default btn-lg btn-block" href="/person/department/class">M</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-default btn-lg btn-block" href="/person/department/class">E</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-default btn-lg btn-block" href="/person/department/class">C</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-default btn-lg btn-block" href="/person/department/class">A</a>
    </div>
</div>